<main class="mt-4">
    <div class="row">
        <div class="col-9">
            <app-search (search)="searchProducts($event)" />
        </div>
        <div class="col-1">

        </div>
        <div class="col-2 d-flex justify-content-end">
            <button mat-raised-button class="mt-1 p-4 w-100" routerLink="/add-product" color="primary">New Product</button>
        </div>
    </div>
    <div class="row">
        @for (item of products; track $index) {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <app-product-card [product]="item" (viewProduct)="onViewProduct($event)" />
            </div>
        }  
    </div>
</main>