.product {
    max-width: 330px;
}

.product .img-container {
    height: 300px;
    display: flex;
    align-items: center;
}

.product .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product .card-img-top {
    max-width: 330px;
    max-height: 300px;
}

.product .bi-heart {
    font-size: 25px;
    color: #ccc;
}
