<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to First Ejs App</h1>
    <p>Welcome to <%= title %></p>
    <% const arr = ['Henil', 'Jainil', 'Bhavanshu', 'Preet']; %>

    <% arr.map(item => { %>
      <li><%= item %></li>
    <% }); %>
  </body>
</html>
