<div class="row d-flex justify-content-center mt-4">
    <div class="col-md-6">
        <mat-card class="shadow mb-4">
            <!-- <img mat-card-image class="!h-20" [src]="product.thumbnail"> -->
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (item of product.images; track $index) {
                        <div [class]="$index === 0?'carousel-item active':'carousel-item'">
                            <img src={{item}} class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="p-4">
                <h1>{{product.title}}</h1>
                <p>{{product.description}}</p>
                <h2>{{product.brand}} <mat-chip>{{product.category}}</mat-chip></h2>
                <div class="d-flex gap-2">
                    <span>Rs. {{product.price}}</span>
                    <span>Rs. <s>{{(product.price + ((product.discountPercentage * product.price)/100)).toFixed(2)}}</s></span>
                    <span>{{product.discountPercentage}}% Off</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>
